{% for product in data %}
<div class="product">
    <div class="image">
        <a href="/product/{{product.slug}}/{{product.id}}"><img
                src="/media/{{product.productattribute_set.first.image}}" alt="{{product.title}}"></a>
    </div>
    <div class="product-content">
        <h2 class="productCompany">{{product.brand}}</h2>
        <h2 class="productName"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a>
        </h2>
        <h3 class="productCategory">{{product.category.title}}</h3>
        <span class="productPrice">${{product.productattribute_set.first.price}}</span>
        <div class="productView">
            <button class="btn-5">View product</button>
        </div>
    </div>
</div>
{% endfor %}