.upperBanner-container {
  position: relative;
  width: 100%;
  height: 200px;
  background: url("../images/cloths/loginBanner.jpeg");
  background-position: 0 -549px;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.upperBanner-container .upperBanner-color {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  opacity: 0.6;
}
.upperBanner-container .upperBanner-content {
  position: absolute;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}
.upperBanner-container .upperBanner-content p {
  font-size: 10px;
}
.upperBanner-container .upperBanner-content h1 {
  font-size: 30px;
}

.login-container-main {
  margin: 80px auto;
  display: flex;
  justify-content: center;
}
.login-container-main .sideBanner {
  height: 100vh;
  width: 40vw;
  background: url("../images/cloths/signupSideBanner.jpg");
  background-position: 0 -100px;
  background-size: cover;
}
.login-container-main .sideContent {
  height: 100vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container-main .sideContent .login-container-heading {
  font-size: 40px;
  margin-bottom: 20px;
}
.login-container-main .sideContent .login-container-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-spacing: 20px;
}
.login-container-main .sideContent .login-container-table .errorlist {
  list-style: none;
  width: 30vw;
  text-align: center;
  margin-bottom: 20px;
  color: #ef3636;
}
.login-container-main .sideContent .login-container-table label {
  font-size: 20px;
}
.login-container-main .sideContent .login-container-table tbody input[type=text],
.login-container-main .sideContent .login-container-table tbody input[type=password],
.login-container-main .sideContent .login-container-table tbody input[type=number] {
  padding: 5px 8px;
  caret-color: #ef3636;
}
.login-container-main .sideContent .login-container-table tbody input[type=text]:focus,
.login-container-main .sideContent .login-container-table tbody input[type=password]:focus,
.login-container-main .sideContent .login-container-table tbody input[type=number]:focus {
  outline: #ef3636 solid 1px;
  border-style: solid;
  border-color: #ef3636;
}
.login-container-main .sideContent .login-container-table tbody tr th {
  padding-right: 30px;
  list-style: none;
}
.login-container-main .sideContent .login-container-table tbody tr td {
  display: flex;
  flex-direction: column-reverse;
}
.login-container-main .sideContent .login-container-table tbody tr td span ul {
  list-style: none;
}
.login-container-main .sideContent .login-button {
  margin: 0 auto;
  margin-top: 20px;
  font-size: 18px;
  padding: 5px 20px;
  background-color: #ef3636;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.login-container-main .sideContent .login-container-form {
  display: flex;
  flex-direction: column;
}
.login-container-main .sideContent .ifNotLogin {
  margin-top: 20px;
}
.login-container-main .sideContent .reset-link-send-msg {
  font-size: 30px;
}

.passreset-container-main {
  margin: 80px auto;
  display: flex;
  justify-content: center;
}
.passreset-container-main .sideContent {
  height: 100vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.passreset-container-main .sideContent .passreset-container-heading {
  font-size: 50px;
  margin-bottom: 40px;
  color: #ef3636;
}
.passreset-container-main .sideContent .passreset-container-form {
  display: flex;
  flex-direction: column;
}
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-spacing: 20px;
}
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table .errorlist {
  list-style: none;
  width: 30vw;
  text-align: center;
  margin-bottom: 20px;
  color: #ef3636;
}
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table label {
  font-size: 20px;
  width: 200px;
  display: block;
}
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table tbody {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table tbody input[type=text],
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table tbody input[type=password],
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table tbody input[type=number] {
  padding: 5px 8px;
  caret-color: #ef3636;
}
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table tbody input[type=text]:focus,
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table tbody input[type=password]:focus,
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table tbody input[type=number]:focus {
  outline: #ef3636 solid 1px;
  border-style: solid;
  border-color: #ef3636;
}
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table tbody tr {
  display: flex;
  align-items: center;
}
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table tbody tr th {
  width: 200px;
  padding-right: 30px;
  list-style: none;
  display: flex;
  align-items: center;
}
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table tbody tr td {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.passreset-container-main .sideContent .passreset-container-form .passreset-container-table tbody tr td span ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.passreset-container-main .sideContent .passreset-container-form .login-button {
  margin: 0 auto;
  margin-top: 50px;
  font-size: 18px;
  padding: 5px 20px;
  background-color: #ef3636;
  border: none;
  color: #ffffff;
  cursor: pointer;
}/*# sourceMappingURL=signupStyle.css.map */