{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboardStyle.css' %}">
    <title>Profile</title>
</head>

<body>
    {% include "header.html" %}
    <section class="upperBanner-container">
        <div class="upperBanner-color">
        </div>
        <div class="upperBanner-content">
            <p>Home/User</p>
            <h1>DASHBOARD</h1>
        </div>
    </section>
    <section class="dashboard-main-container">
        <div class="dashboard-main-heading">Edit Profile</div>
        <div class="dashboard-main-content">
            <div class="dashboard-left">
                {% include "user/user-sidebar.html" %}
            </div>
            <div class="dashboard-right">
                <div class="dashboard-right-addaddress-container">
                    <table class="addaddress-container-table">
                        <form method="post">
                            {% csrf_token %}
                            {{form.as_table}}
                            <tr>
                                <td colspan="2" class="addaddress-button-container">
                                    <input type="submit" value="Save" class="addaddress-button" />
                                </td>
                            </tr>
                        </form>
                    </table>
                    {% if msg %}
                    <div class="addaddress-success-msg-container">
                        <p class="addaddress-success-msg">{{msg}}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
</body>
<script src="{% static 'js/main.js' %}"></script>

</html>