{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboardStyle.css' %}">
    <title>Orders</title>
</head>

<body>
    {% include "header.html" %}
    <section class="upperBanner-container">
        <div class="upperBanner-color">
        </div>
        <div class="upperBanner-content">
            <p>Home/User</p>
            <h1>DASHBOARD</h1>
        </div>
    </section>
    <section class="dashboard-main-container">
        <div class="dashboard-main-heading">My Orders</div>
        <div class="dashboard-main-content">
            <div class="dashboard-left">
                {% include "user/user-sidebar.html" %}
            </div>
            <div class="dashboard-right">
                <div class="dashboard-right-orders-container">
                    <div class="dashboard-right-order-items-container">
                        <div class="dashboard-order-item">
                            <div class="dashboard-order-item-heading">Order No.</div>
                            <div class="dashboard-order-item-heading">Total Amount</div>
                            <div class="dashboard-order-item-heading">Status</div>
                            <div class="dashboard-order-item-heading">Order Time</div>
                        </div>
                        {% for order in orders %}
                        <div class="dashboard-order-item">
                            <div class="dashboard-order-item-id dashboard-order-item-things">
                                <p><a href="{% url 'my_order_items' order.id %}">{{order.id}}</a></p>
                            </div>
                            <div class="dashboard-order-item-total dashboard-order-item-things">
                                <p>${{order.total_amt}}</p>
                            </div>
                            <div class="dashboard-order-item-status dashboard-order-item-things">
                                <p>{{order.paid_status}}</p>
                            </div>
                            <div class="dashboard-order-item-date dashboard-order-item-things">
                                <p>{{order.order_dt}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
</body>
<script src="{% static 'js/main.js' %}"></script>

</html>