<div class="dashboard-left-items-container">
    <div class="dashboard-item">
        <a href="{% url 'my_dashboard' %}">Dashboard</a>
    </div>
    <div class="dashboard-item">
        <a href="{% url 'edit-profile' %}">Profile</a>
    </div>
    <div class="dashboard-item">
        <a href="{% url 'my_orders' %}">Orders</a>
    </div>
    <div class="dashboard-item">
        <a href="{% url 'my_wishlist' %}">Wishlist</a>
    </div>
    <div class="dashboard-item">
        <a href="{% url 'my-reviews' %}">Reviews</a>
    </div>
    <div class="dashboard-item">
        <a href="{% url 'my-addressbook' %}">Address Book</a>
    </div>
    <div class="dashboard-item">
        <a href="{% url 'password_change' %}">Password Change</a>
    </div>
    <div class="dashboard-item">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>