{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboardStyle.css' %}">
    <title>WishList</title>
</head>

<body>
    {% include "header.html" %}
    <section class="upperBanner-container">
        <div class="upperBanner-color">
        </div>
        <div class="upperBanner-content">
            <p>Home/User</p>
            <h1>DASHBOARD</h1>
        </div>
    </section>
    <section class="dashboard-main-container">
        <div class="dashboard-main-heading">My Wishlist</div>
        <div class="dashboard-main-content">
            <div class="dashboard-left">
                {% include "user/user-sidebar.html" %}
            </div>
            <div class="dashboard-right">
                <div class="dashboard-right-order-items-container">
                    <div class="dashboard-order-item">
                        <div class="dashboard-order-item-heading">Title</div>
                        <div class="dashboard-order-item-heading">Image</div>
                        <div class="dashboard-order-item-heading">Price</div>
                    </div>
                    {% for wl in wlist %}
                    <div class="dashboard-order-item">
                        <div class="dashboard-order-item-title dashboard-order-item-things">
                            <p><a href="/product/{{wl.product.slug}}/{{wl.product.id}}">{{wl.product.title}}</a></p>
                        </div>
                        <div class="dashboard-order-item-image dashboard-order-item-things">
                            <span>
                                <img src="/media/{{wl.product.productattribute_set.first.image}}"
                                    alt="{{wl.product.title}}" width="80">
                            </span>
                        </div>
                        <div class="dashboard-order-item-price dashboard-order-item-things">
                            <p>${{wl.product.productattribute_set.first.price}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
</body>
<script src="{% static 'js/main.js' %}"></script>

</html>