$white_bg: #ffffff;
$grey: #a5a5a5;
$black: #1a1a1a;
$red: #ef3636;
$white: #fff;

.upperBanner-container {
  position: relative;
  width: 100%;
  height: 200px;
  background: url("../images/cloths/cartBanner.jpeg");
  background-position: 0 -606px;
  background-size: cover;
  display: flex;
  justify-content: center;
  .upperBanner-color {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $black;
    opacity: 0.6;
  }
  .upperBanner-content {
    position: absolute;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
    color: $white_bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    p {
      font-size: 10px;
    }
    h1 {
      font-size: 30px;
    }
  }
}

.shoppingCart-main-container {
  max-width: 1100px;
  margin: 50px auto;
  .shoppingCart-main-container-heading {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .shoppingCart-productDetail-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .shoppingCart-product-container {
      width: 64%;
      .shoppingCart-product-items {
        .shoppingCart-product-empty {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          gap: 8px;
          span {
            color: $red;
          }
        }
        .shoppingCart-product-container-line {
          height: 2px;
          width: 100%;
          margin: 5px auto;
          background-color: $grey;
        }
        .shoppingCart-product-item {
          display: flex;
          gap: 15px;
          align-items: center;
          justify-content: space-between;
          padding-right: 50px;
          .shoppingCart-product-image {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100px;
            }
          }
          .shoppingCart-product-name {
            display: flex;
            flex-direction: column;
            width: 190px;
            h1 {
              font-size: 15px;
            }
          }
          .shoppingCart-product-quantity {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .shoppingCart-product-quantity-input {
              display: flex;
              input[type="number"] {
                appearance: none;
                -moz-appearance: none;
                text-align: center;
                border: none;
                color: $black;
                background-color: whitesmoke;
                font-size: 20px;
              }
              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              button {
                color: $black;
                background-color: whitesmoke;
                border: none;
                font-size: 20px;
                &:hover {
                  color: $red;
                }
              }
              #decrement {
                padding: 4px 5px 4px 15px;
              }
              #increment {
                padding: 4px 15px 4px 5px;
              }
            }
            .shoppingCart-product-quantity-button {
              button {
                color: $black;
                &:hover {
                  color: $red;
                }
              }
            }
          }
          .shoppingCart-product-delete {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
              display: flex;
              justify-content: center;
              align-items: center;
              stroke: $black;
              &:hover {
                stroke: $red;
              }
            }
          }
        }
      }
    }
    .shoppingCart-productPrice-container {
      width: 35%;
      .shoppingCart-productPrice-content {
        padding: 40px 30px;
        background-color: $black;
        color: $white_bg;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 12px;
        .shoppingCart-productPrice-subtotal,
        .shoppingCart-productPrice-total {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-top: 1px solid;
          border-bottom: 1px solid;
          border-color: $grey;
          padding: 10px 0px;
        }

        .shoppingCart-productPrice-total {
          display: flex;
        }
        h1 {
          font-size: 13px;
          font-weight: 300;
        }
        .shoppingCart-productPrice-heading {
          font-size: 20px;
          font-weight: 500;
          text-transform: uppercase;
        }
        .shoppingCart-productPrice-price {
          color: $red;
          font-weight: 400;
        }
      }
      .shoppingCart-productPrice-buttons {
        margin: 10px auto;
        display: flex;
        justify-content: center;
        button {
            font-size: 20px;
        }
      }
    }
  }
  .shoppingCart-discount-container {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 1;
    p {
      font-size: 15px;
      line-height: 1.5;
    }
    div {
      margin-top: 10px;
      display: flex;
      align-items: center;
      gap: 30px;
      input {
        border: 2px solid;
        border-color: $red;
        border-radius: 5px;
      }
      button {
        color: $black;
      }
    }
  }
}
