$white_bg: #ffffff;
$grey: #a5a5a5;
$black: #1a1a1a;
$red: #ef3636;
$white: #fff;

.upperBanner-container {
  position: relative;
  width: 100%;
  height: 200px;
  background: url("../images/cloths/productBanner.jpg");
  background-position: 0 -222px;
  background-size: cover;
  display: flex;
  justify-content: center;
  .upperBanner-color {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $black;
    opacity: 0.6;
  }
  .upperBanner-content {
    position: absolute;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
    color: $white_bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    p {
      font-size: 10px;
    }
    h1 {
      font-size: 30px;
    }
  }
}

.product-main-container {
  .product-detail-container {
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    .product-detail {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      text-align: center;
      padding: 0 80px;
      .product-brand {
        a {
          color: $red;
          font-size: 30px;
          letter-spacing: 5px;
          text-decoration: none;
        }
      }
      .product-name {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
      }
      .product-type {
        a {
          color: $grey;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
      .product-price {
        display: flex;
        justify-content: center;
        font-size: 13px;
        color: $red;
      }
      .product-selectSize {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 13px;
        .product-selectSize-form {
          display: flex;
          gap: 15px;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          div {
            display: flex;
          }
          .product-selectSize-items {
            gap: 15px;
          }
          input {
            appearance: none;
            cursor: pointer;
            background-color: whitesmoke;
            color: $black;
            font-size: 20px;
            width: 30px;
            height: 30px;
            transition: all 0.1s ease;
          }
          input::before {
            content: attr(label);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
          input:checked {
            background-color: $red;
            color: $white_bg;
          }
        }
      }
    }
    .product-image {
      width: 50%;
      display: flex;
      justify-content: center;
      img {
        height: 600px;
      }
    }
  }
  .product-otherDetails-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .product-otherDetails {
      width: 100%;
      padding-bottom: 20px;
      .product-otherDetails-form {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 100px;
        input {
          appearance: none;
          cursor: pointer;
          color: $grey;
          font-size: 15px;
          height: 30px;
          transition: all 0.1s ease;
        }
        input::before {
          content: attr(label);
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        input:checked {
          color: $red;
          font-weight: 700;
        }
      }
    }
    .product-otherDetails-content {
      margin: 20px auto;
      .product-otherDetails-desc {
        padding: 0 10vw;
        text-align: center;
        line-height: 3;
      }
      .product-otherDetails-size {
        padding: 0 10vw;
        text-align: center;
        line-height: 2;
      }
      .product-otherDetails-return {
        padding: 0 10vw;
        text-align: center;
        line-height: 2;
      }
    }
  }
  .product-review-container {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    .reviewModel-container {
      z-index: 4;
      position: fixed;
      left: 0;
      top: 0;
      background: rgba($color: #000000, $alpha: 0.6);
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      pointer-events: none;
      .reviewModel {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        background: $white_bg;
        width: 40%;
        max-width: 50%;
        padding: 20px;
        .reviewModel-closeBtn {
          position: absolute;
          right: 10px;
          top: 10px;
        }
        .reviewModel-form-heading {
          text-align: center;
          font-size: 30px;
          font-weight: 800;
          color: $red;
        }
        .reviewModel-form {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
        .ajaxRes {
          color: $red;
          text-align: center;
          margin-top: 10px;
        }
        .reviewModel-form-submitBtn {
          margin-top: 25px;
          padding: 10px 30px;
        }
      }
    }
    .product-avgRating-container {
      display: flex;
      gap: 15px;
      font-size: 25px;
      background-color: $red;
      color: $white_bg;
      padding: 10px;
      .product-avgRating-heading {
        text-transform: uppercase;

      }
    }
    .product-review-cards-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      .product-review-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px;
        border-radius: 5px;
        .product-review-user-name {
          text-transform: capitalize;
        }
        .product-review {
          text-align: center;
        }
        &:nth-child(even) {
          color: $black;
          stroke: $black;
          background-color: $white_bg;
        }
        &:nth-child(odd) {
          color: $white_bg;
          stroke: $white_bg;
          background-color: $black;
        }
      }
    }
  }
  .followUs-container {
    max-width: 1100px;
    margin: 80px auto 150px;
    height: 250px;
    background-color: $black;
    position: relative;
    .followUs-transparantColor {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: $black;
      opacity: 0.7;
    }
    .followUs-social-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .followUs-social-logos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;

        .followUs-social-logo {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: $white_bg;
          gap: 5px;
          padding: 10px;
        }
      }
    }
    .followUs-images {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0px;
      .followUs-upperRow,
      .followUs-lowerRow {
        width: 100%;
        height: 125px;
        margin: 0 auto;
        display: flex;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
