{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/productsStyle.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>Cloths</title>
</head>

<body>
    {% include "header.html" %}
    <section class="upperBanner-container">
        <div class="upperBanner-color">
        </div>
        <div class="upperBanner-content">
            <p>Home/Shop</p>
            <h1>CLOTHS</h1>
        </div>
    </section>
    <section class="products-main-container">
        <div class="filter-main-container">
            {% include "filter.html" %}
        </div>
        <div class="product-container" id="filteredProducts">
            <p class="ajaxLoader">Loading...</p>
            {% for product in productlist %}
            <div class="product">
                <div class="image">
                    <a href="/product/{{product.slug}}/{{product.id}}"><img src="/media/{{product.productattribute_set.first.image}}"
                            alt="{{product.title}}"></a>
                </div>
                <div class="product-content">
                    <h2 class="productCompany">{{product.brand}}</h2>
                    <h2 class="productName"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a>
                    </h2>
                    <h3 class="productCategory">{{product.category.title}}</h3>
                    <div class="product-content-price-align">
                        <span class="product-content-price-align-symbol">$</span>
                        <span class="productPrice product-price-{{product.id}}">{{product.productattribute_set.first.price}}</span>
                    </div>
                    <div class="productView">
                        <input type="hidden" class="product-image-{{product.id}}"
                            value="{{product.productattribute_set.first.image}}">
                        <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}">
                        <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}">
                        <input type="hidden" class="product-qty-{{product.id}}" id="productQty" value="1">
                        <button class="btn-5 add-to-cart" data-index="{{product.id}}">Add to Cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="products-pagination-container">
            <button class="btn-5" data-limit="14" data-total="{{total_data}}" id="loadMore">Load More</button>
        </div>
    </section>
    {% include "footer.html" %}
</body>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/filter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

</html>